<div class="form-group position-relative my-4">
    <input type="{{type}}" class="input inline-input anim" value="{{value}}" name="{{name}}" />

    <span class="highlight"></span>
    <span class="bar"></span>
    <label class="label">{{ label }}</label>
</div>