<div class="form-group position-relative my-4">
    <input type="{{type}}" class="input inline-input" name="{{name}}" required />

    <span class="highlight"></span>
    <span class="bar"></span>
    <label class="label">{{ label }} <sup class="text-danger">*</sup></label>
</div>