.main-wrapper {
  background: rgb(255, 255, 255);
  background: linear-gradient(-45deg, #f8f8ff 51%, #fe4e66 51%, #fc9d9a 100%);
  background-attachment: fixed;
}

/* Main wrapper */
.form-wrapper {
  background-color: #f5f5f5;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(252, 157, 154, 0.356);
}
/* Heading */

.activities-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}

/* Add activites Form */
.input,
.textarea {
  background: none;
  color: #525151;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  min-width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
.input:focus,
.textarea:focus {
  outline: none;
}
.input:focus ~ label,
.textarea:focus ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.ac-link:focus ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
.input:focus ~ .bar:before,
.textarea:focus ~ .bar:before {
  width: 100%;
  min-width: 320px;
}
label,
.custom-file-input:lang(en) ~ .custom-file-label {
  color: rgb(138, 136, 136);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
  padding: 0;
}

datalist option {
  font-size: 13px;
}

label.custom-file-label {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "\f1c5";
  font-family: "Font Awesome\ 5 Free";
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}
.bar {
  position: relative;
  display: block;
  min-width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  min-width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease all;
  left: 0%;
}

.btn.btn-submit {
  background: rgb(185, 184, 155);
  background: linear-gradient(
    45deg,
    rgba(185, 184, 155, 1) 0%,
    rgba(131, 174, 155, 1) 51%,
    rgba(131, 174, 155, 1) 100%
  );
  color: #fff;
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn.btn-submit:hover {
  background: rgb(185, 184, 155);
  background: linear-gradient(
    -45deg,
    rgba(185, 184, 155, 1) 0%,
    rgba(131, 174, 155, 1) 51%,
    rgba(131, 174, 155, 1) 100%
  );
  color: #deeffd;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn-box {
  text-align: center;
  margin: 3rem 0;
  margin-bottom: 1rem;
}
