@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Ubuntu:300,300i,400,500,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;
}
ul,
li {
  list-style: none;
}

nav.navbar {
  background: #bc4e9c;
  background: -webkit-linear-gradient(to right bottom, #e43765, #cc2e78);
  background: linear-gradient(to right bottom, #e73666, #cc2e78);
  box-shadow: 0 2px 6px #dd467e;
  min-height: 80px;
  padding: 0 0;
  z-index: 3;
}

nav.navbar .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
}

.footer {
  width: 100%;
}
.mb-2 {
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.footer {
  background: #bc4e9c;
  background: -webkit-linear-gradient(to right bottom, #ec5c83, #cc2e78);
  background: linear-gradient(to right bottom, #ec5c83, #cc2e78);
  padding: 0 1rem;
}

.footer .logo {
  width: 200px;
}

.footer .footer-item a {
  font-size: 1.1rem;
}

a.h-a {
  color: #fff;
  text-decoration: none;
}

a.h-a:hover {
  color: #2c0315 !important;
}

.dropdown button.btn {
  outline: 0;
  color: #fff;
}
.dropdown button.btn:hover {
  color: #2c0315 !important;
}
.dropdown button:active {
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown button.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

.dropdown .dropdown-menu {
  background: #bc4e9c;
  background: -webkit-linear-gradient(to right bottom, #ec5c83, #cc2e78);
  background: linear-gradient(to right bottom, #ec5c83, #cc2e78);
}

.dropdown .dropdown-item {
  color: #fff;
}

.dropdown .dropdown-item:hover {
  color: #2c0315;
  background-color: transparent;
}

.h-donate-btn {
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec5c83,
    #bc3da4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec5c83,
    #bc3da4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 5rem;
  padding: 0.1rem 2rem;
  color: #fff;
  transition: all 0.54s ease;
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 10px;
  border: none;
  text-align: center;
}

a.h-donate-btn:hover {
  color: #fff !important;
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ec5c83,
    #bc3da4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ec5c83,
    #bc3da4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* For input field */
.anim.has-value ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

input {
  font-size: 0.8rem !important;
}

/* Alert */
.alert p {
  font-size: 0.8rem;
}
.alert button {
  padding-right: 5px !important;
}

/* Studnet page  */
.stretched-link {
  color: #cc2e78;
  font-size: 1rem;
  font-weight: bold;
}

/* Activity Details */
.act-details,
.delete-act,
.edit-act {
  font-size: 0.8rem;
  color: rgb(71, 69, 69);
}

.edit-act {
  background-color: #fff;
}
.edit-act .fas {
  color: #000;
}
.edit-act:hover .fas {
  color: #000;
}
.activity .media {
  border: 1px solid #333;
  padding: 1rem;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.nav-item.active a.nav-link {
  /* color: #2c0315 !important; */
  font-size: 1.2rem !important;

  text-transform: capitalize;

  color: white;
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa;
}

.navbar-collapse.show {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}

@media (min-width: 992px) {
  nav.navbar.navbar-expand-lg {
    padding: 0 1rem;
    height: 80px;
  }
}

@media (max-width: 990px) {
  .navbar-brand img {
    width: 150px;
  }
}
