<div class="container py-2">
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card">
                <div class="card-body p-3">
                    <p class="lead">Save the Children is a global non-profit organisation which was founded in the year
                        XXXX. Today, it is India's leading
                        independent child rights NGO. As of XXXX 2019, we work in XX states of India. Started in XXXX in
                        India, and
                        registered as 'Bal Raksha Bharat', we have changed the lives of more than 10.1 million (1.1
                        crore) children till date.
                        In the year XXXX, we reached 12.03 lakh children.

                        Save the Children believes that every child deserves the best chance for a bright future and
                        that’s why we are fiercely
                        committed towards ensuring that children not only survive, but thrive. We run programmes in the
                        remotest corners of
                        India and urban areas to provide quality education and healthcare, protection from harm and
                        abuse and life-saving aid
                        during emergencies to children. Globally, Save the Children is present in more than 80 countries
                        and works to improve
                        the lives of the most vulnerable children living there.

                        Every child deserves the best chance for a bright future. And that’s why we are fiercely
                        committed to ensuring children
                        not only survive, but thrive. Bold in our ambition and powerful in our care, we do whatever it
                        takes to save the world’s
                        children.

                        In India and around the world, Save the Children is on the ground – every day and in times of
                        crisis. Our pioneering
                        programmes address children’s unique needs, giving them a healthy start, the opportunity to
                        learn and protection from
                        harm. When crisis strikes, we are always among the first to respond and the last to leave. We
                        are outspoken champions
                        for children, ensuring their voices are heard and their issues are given top priority. Drawing
                        on a century of leading
                        expertise, we take on the toughest challenges facing the hardest-to-reach children – especially
                        those unfairly excluded
                        from the world’s progress.

                        We are proud to be the world’s leading expert on children, delivering lasting results for
                        millions of vulnerable girls
                        and boys. By saving the world’s children, we transform their lives and the future we share.</p>
                </div>
            </div>
        </div>
    </div>
</div>