<div class="container my-3 activity">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="media">
                <img src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/sites/16/2013/08/Blog-Topic-Ideas.jpg"
                    width="100px" class="mr-3 img-fluid" alt="manthan">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Manthan</h5>
                    <p class="lead">Manthan Opportunities and Experiences</p>
                </div>
            </div>
        </div>
    </div>
</div>