<div class="container-fluid contact-container">
    <div class="container mt-5 mb-5">
        <div class="row no-gutters">
            <div class="col-md-6 left">
                <h1>Contact us</h1>
                <br />
                <h3>We'd love to hear from you.</h3>
                <br />
                <h5>E-Gurukul has always been trying to be as much
                    responsible we can. we will try out best to
                    reach out to you in few hours
                </h5>
            </div>
            <div class="col-md-6 right">
                <div class="card-body">

                    <div class="form-group position-relative my-4">

                        {{> requiredInput name="firstname" type="text" label="First Name" className="input inline-input"}}

                        {{!-- <input type="text" class="input" required="required" placeholder="Name" /><span
                        class="highlight"></span><span class="bar"></span> --}}

                    </div>
                    <div class="form-group position-relative my-4">

                        {{> requiredInput name="email" type="email" label="Email" className="input inline-input"}}

                        {{!-- <input type="email" class="input" required="required" placeholder="Email" /><span
                        class="highlight"></span><span class="bar"></span> --}}

                    </div>
                    <div class="form-group position-relative my-4">

                        {{> requiredInput name="phone" type="number" label="Phone number" className="input inline-input"}}

                        {{!-- <input type="number" class="input" required="required" placeholder="Phone" /><span
                        class="highlight"></span><span class="bar"></span> --}}

                    </div>
                    <div class="form-group position-relative my-4">

                        {{> requiredInput name="message" type="text" label="Message" className="input inline-input"}}

                        {{!-- <input type="text" class="input" required="required" placeholder="Message" /><span
                        class="highlight"></span><span class="bar"></span> --}}

                    </div>
                    <div class="btn-box">
                        <button class="button button-like">
                            <i class="fa fa-heart"></i>
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>