<!-- Header -->
<header class="home-header">
    <div id="headerCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item p-0 first-item active">
                <div class="row no-gutters h-100">
                    <div class="col-md-5 first-col d-flex flex-column justify-content-center align-items-start">
                        <h3 class="header__first-title">
                            Gift New hopes and dreams to children in the new academic year
                        </h3>
                        <p class="header__first-text">
                            Contribute to their education
                        </p>
                        <a href="/donate" class="btn donate-btn">Help</a>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row h-100">
                    <div class="col-md-6 d-none d-md-block header-left__img"></div>
                    <div
                        class="col-md-6 header-right__content d-flex justify-content-center align-items-start flex-column">
                        <h2 class="header__content-title">A Support</h2>
                        <p class="header__content-text">
                            from you Means good future of a Child
                        </p>
                        <a href="/donate" class="btn donate-btn">Donate</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item last-item ">
                <div class="row h-100">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div
                            class="last-item__content h-100 d-flex flex-column justify-content-center align-items-start">
                            <h3 class="last-item__title">
                                We're Asking Aloud:
                            </h3>
                            <p class="last-item__text">
                                Why the Gap ?
                            </p>
                            <a href="/vol/registration" class="btn join-us">Join with us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Second section -->
<section class="container">
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <h1 class="title">A Child Is An Uncut Diamond</h1>
            <p class="description my-4">
                Give one child the confidence, courage and life skills to become
                greater than poverty.
            </p>
            <a href="/donate" class="btn donate-btn">Help</a>
        </div>
        <div class="col-md-6">
            <img src="/images/children.svg" class="img-fluid" alt="children" />
        </div>
    </div>
</section>

<!-- Third Section -->
<section class="help-together">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="help-together__title">
                    Together To Help The World Better
                </h2>
                <p class="help-together__text pt-4">
                    Please help us change lives around the world
                </p>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="play-icon" data-toggle="modal" data-target="#openModal">
                    <i class="fas fa-play fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fourth Section -->
<section class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/help_student.svg" alt="help student" class="img-fluid" />
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="helping__content">
                <p class="overline m-0">We're Helping</p>
                <h3 class="body1 ">More than 10,000 children</h3>

                <p class="description py-5">
                    All children have the right to a healthy, happy and fulfilling
                    life. Donate Money & Support Charity to Keep children safe & free
                    from harm. You can also donate online to support a Child
                    Protection Programme.
                </p>

                <a href="/vol/registration" class="btn donate-btn connect-btn">Connect with us</a>
            </div>
        </div>
    </div>
</section>

<!-- Fifth Section -->
<section class="container box-section">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="box active">
                <div class="box-icon">
                    <img src="/images/heart.png" class="img-fluid box-img" alt="send donation" />
                </div>
                <div class="box-details pt-3">
                    <h3 class="box-title">Send Donation</h3>
                    <p class="box-text">
                        Save the Children helps children with the donation money and
                        provides them access to quality education.
                    </p>
                </div>
                <a href="/donate" class="btn donate-btn">Donate</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-icon">
                    <i class="fas fa-baby"></i>
                </div>
                <div class="box-details pt-4">
                    <h3 class="box-title">Save the Child</h3>
                    <p class="box-text">
                        Every rupee counts! You can make a difference. Come forward,
                        now…
                    </p>
                </div>
                <a href="/donate" class="btn donate-btn">Save child</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="box-details pt-3">
                    <h3 class="box-title">Becoume Volunteer</h3>
                    <p class="box-text">
                        Volunteering is an incredibly valuable use of time both for the
                        organization and the volunteer
                    </p>
                </div>
                <a href="/vol/registration" class="btn donate-btn">Become volunteer</a>
            </div>
        </div>
    </div>
</section>

<!-- Programs Section Start-->
<section class="program">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h3 class="program__heading">
                    List of activites we offer
                </h3>
            </div>
        </div>
        <!-- program Box -->
        <div class="row">
            <div class="col-md-12 px-0">
                <!-- Swiper -->
                <div class="swiper-container swiper-container-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="top d-flex justify-content-center align-items-center">
                                <img src="/images/activities/Blog-Topic-Ideas.jpg" alt="Manthan"
                                    class="swiper-slide__img img-fluid" />
                                <h3 class="program-name pl-3">Manthan</h3>
                            </div>

                            <p class="swiper-slide__details">
                                Manthan will give you a strong and personalized exposure to
                                several ideas out there that would facilitate your shaping
                                into a more aware person.
                            </p>
                            <a href="#" role="button" class="btn swiper-slide__claim">Learn More <i
                                    class="fas fa-chevron-right ml-3"></i></a>
                        </div>
                        <div class="swiper-slide">
                            <div class="top d-flex justify-content-center align-items-center">
                                <img src="/images/activities/constitution-day.png" alt="eGurukul Constitution english"
                                    class="swiper-slide__img img-fluid" />
                                <h3 class="program-name pl-3">
                                    eGurukul's English
                                </h3>
                            </div>

                            <p class="swiper-slide__details">
                                eGurukul is to nurture the students for a career of their
                                choice and equipping them with a strong practical
                                understanding of how to take the change forward to more and
                                more people.
                            </p>
                            <a href="#" role="button" class="btn swiper-slide__claim">Learn More <i
                                    class="fas fa-chevron-right ml-3"></i></a>
                        </div>
                        <div class="swiper-slide">
                            <div class="top d-flex justify-content-center align-items-center">
                                <img src="/images/activities/human_right.jpg" alt="Manthan"
                                    class="swiper-slide__img img-fluid" />
                                <h3 class="program-name pl-3">Human rights Act</h3>
                            </div>

                            <p class="swiper-slide__details">
                                Human rights defenders or human rights activists are people
                                who, individually or with others, act to promote or protect
                                human rights.
                            </p>
                            <a href="#" role="button" class="btn swiper-slide__claim">Learn More <i
                                    class="fas fa-chevron-right ml-3"></i></a>
                        </div>
                        <div class="swiper-slide">
                            <div class="top d-flex justify-content-center align-items-center">
                                <img src="/images/activities/Advocacy.jpg" alt="Manthan"
                                    class="swiper-slide__img img-fluid" />
                                <h3 class="program-name pl-3">Advocacy</h3>
                            </div>

                            <p class="swiper-slide__details">
                                Advocacy is an activity by an individual or group that aims
                                to influence decisions within political, economic, and
                                social systems and institutions.
                            </p>
                            <a href="#" role="button" class="btn swiper-slide__claim">Learn More <i
                                    class="fas fa-chevron-right ml-3"></i></a>
                        </div>
                    </div>
                </div>

                <div class="view-all pt-3">
                    <div class="float-right mr-5">
                        <a href="/activites" role="button" class="btn swiper-slide__claim">View all <i
                                class="fas fa-chevron-right ml-3"></i></a>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-arrow">
                    <i class="fas g-swiper-btn fa-chevron-left g-swiper-button-prev"></i>
                    <i class="fas g-swiper-btn fa-chevron-right g-swiper-button-next"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- program Section End -->

<!-- Donate Section -->
<section class="dontate-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto text-center">
                <a href="/donate" class="btn donate-btn ">Donate</a>
            </div>
        </div>
    </div>
</section>

<!-- Stories Section Start -->
<div class="container">
    <div class="row">
        <div class="col-md-7 m-auto py-5">
            <h3 class="stories-title text-center">Our Stories</h3>
            <div class="stories">
                <div class="one d-flex flex-column">
                    <div class="stories-img">
                        <img src="./images/success/Header-Schoolboy.jpg" alt="success one" class="img-fluid" />
                    </div>
                    <div class="stories-details h-100 d-flex align-items-center px-4">
                        <a href="/stories">
                            <p class="lead">
                                With your precious donation, total 10 students are studying
                                now and they are from XYZ.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="two d-flex justify-content-center align-items-center">
                    <a href="/stories">
                        <p class="lead">
                            Social awareness with our Child
                        </p>
                    </a>
                </div>
                <div class="three d-flex justify-content-center align-items-center">
                    <a href="/stories">
                        <p class="lead">
                            Environement activites
                        </p>
                    </a>
                </div>
            </div>
            <div class="see-more__container">
                <a href="/stories" class="btn donate-btn see-more float-right">See More</a>
            </div>
        </div>
    </div>
</div>
<!-- Stories Section End -->


{{!-- Modal --}}
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width="100%" height="250px" src="https://www.youtube.com/embed/sCPREA5NFTU" frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary donate-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>