{{!-- <!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/stories_page.css">
    <title>Our Stories || eGurkul</title>
</head>

<body> --}}

    
    <div class="card bg-dark text-white">
        <img src="images/stories_page/main.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h2 class="card-title " style="color:red;">EGurkul</h2>
        </div>
    </div>
    <div>
        <h1 style="color:crimson; font-style:italic" class="heading">Our Stories</h1>
    </div>
    <div class="card-deck">
        <div class="card">
            <img src="images/stories_page/1children.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Creative+</h5>
                <p class="card-text">creative+ program enhance the creativity of children mainly focus on 3to5 age.
                    naturaly 3 to 5 age pricious age...</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
            </div>
        </div>
        <div class="card">
            <img src="images/stories_page/2children.jpg"
                class="card-img-top" alt="..not.">
            <div class="card-body">
                <h5 class="card-title">Succesfully Identify the over 500 street children </h5>
                <p class="card-text"> With in one month EGurkul identify the over 500 Childrens and providing better
                    Education to them... </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
            </div>
        </div>
        <div class="card">
            <img src="images/stories_page/3maths.jpg"
                class="card-img-top" alt=" not avaliable">
            <div class="card-body">
                <h5 class="card-title">Mathematics 100</h5>
                <p class="card-text"> How math, and its connections to everything, can help kids learn, understand, and think more deeply about the world..</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
            </div>
        </div>
    </div>
    <br/>
    <div class="card-deck">
        <div class="card">
            <img src="images/stories_page/4e-learning.jpg" class="card-img-top" alt="img not avaliable">
            <div class="card-body">
                <h5 class="card-title">E-learning</h5>
                <p class="card-text">Now a days E-learning palys a keyrole in our life.it reduces time and effort...</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
            </div>
        </div>
        <div class="card">
            <img src="images/stories_page/5volunteers-.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Volunteers</h5>
                <p class="card-text"> this portal mainly focus providing better education to poor children with the help of volunteers </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
            </div>
        </div>
        <div class="card">
            <img src="images/stories_page/6card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Technology</h5>
                <p class="card-text">bridge the gap between poor children and volunteers with the help of technology..if anyone think to help someone not only in the form of money,anyone can donate time also for others..</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">View More</a>
                </div>
        </div>
    </div>

{{!-- </body>

</html> --}}