<div class="container">
    <div class="row">
        <div class="col-4 m-auto">
            <div class="card">
                <div class="card-body">
                    <p class="lead">Verify your account</p>
                    <form action="{{action}}" class="text-center" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="secretToken"
                                placeholder="Enter your Code here">
                        </div>
                        <button type="submit" class="btn btn-outline-info text-center">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>